<div class="jumbotron jumbotron-home">
	<div class="container">
        <a href="http://http://en.wikipedia.org/wiki/Kyiv">Wikipedia</a>
		<h1>Kyiv</h1>
		<p>The city was known by various names in history. In the Norse sagas it was Kænugarðr or Kœnugarðr, meaning "city of the Kyivans".</p>
		<%= link_to "Learn more »", "#", class: "btn btn-primary btn-lg" %>
	</div>
</div>
<div clas="conteiner">
    <div class="row">
        <div class="col-md-4">
            <h2>Origin</h2>
            <p>Kyiv, also spelled Kiev,[a] is the capital and most populous city of Ukraine. It is in north-central Ukraine along the Dnieper River. As of 1 January 2022, its population was 2,952,301, making Kyiv the seventh-most populous city in Europe. Kyiv is an important industrial, scientific, educational, and cultural center in Eastern Europe. It is home to many high-tech industries, higher education institutions, and historical landmarks. The city has an extensive system of public transport and infrastructure, including the Kyiv Metro.
            </p>
            <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
                
        </div>
        <div class="col-md-4">
        	<h2>Story</h2>
        	<p>Old East Slavic chronicles, such as the Laurentian Codex and Novgorod Chronicle, used the spellings Києвъ, Къıєвъ, or Кїєвъ. The traditional etymology, stemming from the Primary Chronicle, is that the name is a derivation of Kyi (Ukrainian: Кий, Russian: Кий (pre-1918 Кій)), the legendary eponymous founder of the city.
        	</p>
        	<p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
        </div>
        <div class="col-md-4">
        	<h2>Arts</h2>
        	<p>The historian Julius Brutzkus in his work The Khazar Origin of Ancient Kiev hypothesizes that both Sambat and Kyiv are of Khazar origin, meaning "hill fortress" and "lower settlement" respectively. Brutzkus claims that Sambat is not Kyiv, but rather Vyshhorod (High City), which is nearby.</p>
        	<p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
        </div>
    </div>
</div>

        	    

                		
